<div id="sideNav" class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  <div id="add-project-table">
    <table>
      <tr id="add-project-row">
        <td><span class="glyphicon glyphicon-plus-sign"></span></td>
        <td><span>Add New Project</span></td>
      </tr>
    </table>
  </div>
  <div id="add-project-name-table">
    <table>
      <tr>
        <td>
          <input id="add-project-name-text" type="text"></input>
          <input id = "add-project-name-submit" type="submit" class="button" value="Add"></input>
          <span id="remove-project-name-span" class="glyphicon glyphicon-remove-sign"></span>
        </td>
      </tr>
    </table>
  </div>
</div>