<script>
  angular.module('myApp', []).controller('myController', function ($scope, $location, $http) {
    $http.get('./tasks.json').then(function (response) {
      $scope.tasks = response.data;
    });
  });
</script>
<div ng-app="myApp" ng-controller="myController">
  <p id="notice"><%= notice %></p>
  <h1>Tasks</h1>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tr ng-repeat="x in tasks">
      <td>{{x.title}}</td>
      <td>{{x.description}}</td>
    </tr>
  </table>

  <br>

  <%= link_to 'New Task', new_task_path %>
</div>