<link rel="stylesheet" href="assets/bootstrap.css"></link>
<link rel="stylesheet" href="assets/dataTables.bootstrap.css"></link>
<script src="assets/IndexController">
</script>
<div ng-app="myApp" ng-controller="myController" class="pagecontainer">
  <%= render :partial => "sidenav" %>
  <%= render :partial => "index_main" %>
</div>